= form_for @postman_user do |f|
  - if @postman_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@postman_user.errors.count, "error")} prohibited this postman_user from being saved:"
      %ul
        - @postman_user.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, "Name:"
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :email, "Email:"
    = f.text_field :email, class: 'form-control'


  .form-group
    .row
      .col
        = f.label :height, "Height (cm):"
        = f.text_field :height, class: 'form-control'
      .col
        = f.label :weight, "Weight (kg):"
        = f.text_field :weight, class: 'form-control'


  .form-group.text-center.my-4
    = f.button 'Save', class: 'btn btn-success'
