%h1.text-center.my-5 Postman User Index

%table.table.mb-5
  %thead
    %tr
      %th Name
      %th Email
      %th Height
      %th Weight
      %th
      %th
      %th

  %tbody
    - @postman_users.each do |postman_user|
      %tr
        %td= postman_user.name
        %td= postman_user.email
        %td= postman_user.height
        %td= postman_user.weight
        %td= link_to 'Show', postman_user
        %td= link_to 'Edit', edit_postman_user_path(postman_user)
        %td= link_to 'Destroy', postman_user, method: :delete, data: { confirm: 'Are you sure?' }

%br

.text-center
  = link_to 'Create New Postman User', request.referer.present? ? request.referer : new_postman_user_path, class: 'btn btn-success'
