%p#notice= notice

%p
  %b Name:
  = @postman_user.name
%p
  %b Email:
  = @postman_user.email
%p
  %b Height:
  = @postman_user.height
%p
  %b Weight:
  = @postman_user.weight

= link_to 'Edit', edit_postman_user_path(@postman_user)
\|
= link_to 'Back', postman_users_path
